.coloredPlace {
  background-color: #b7c09d;
  min-width: 100%; //фон будет на всю ширину, как и во всех других блоках, ограничение по ширине - у наполнения, здесь - props.chilgren
  min-height: 100px; //высота прописана временно: после наполнения контентом - удалить
}
