$fontFaceFormular: 'Formular';
$fontWeightLight: 300;
$fontStyleNormal: normal;

.paragraph {
  font-family: $fontFaceFormular;
  font-style: $fontStyleNormal;
  font-weight: $fontWeightLight;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin: 0;
}

.paragraph_middle {
  line-height: 1.2;
  font-weight: 300;
}

.paragraph_little {
  font-size: 16px;
}

.paragraph_feature {
  font-feature-settings: 'ss01' on;
}
