$fontFaceNeueMachina: 'Neue Machina';
$fontWeightNormal: normal;
$fontStyleNormal: normal;

.title {
  font-family: $fontFaceNeueMachina;
  font-weight: $fontWeightNormal;
  font-style: $fontStyleNormal;

  margin: 0;

  font-size: 40px;
  line-height: 40px;

  /*todo: когда будет цвета подключены в App удалить*/
  color: #242424;
}

.title_bigsize {
  font-size: 72px;
  line-height: 70px;
}
