.title {
  font-family: sans-serif; /*todo: изменить шрифт впоследствии*/
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;

  color: #242424;
}

.title_bigsize {
  font-size: 72px;
  line-height: 70px;
}